<h1><%= @car.model %></h1>

<% if @car.favourites.any? %>
  <p>Added to favourites!</p>
<% else %>
  <%= simple_form_for [@car, @favourite] do |f| %>
    <%= f.input :car_id, as: :hidden, input_html: { value: @car.id } %>
    <%= f.submit "Add to favourites" %>
  <% end %>
<% end %>
<%= image_tag(@car.img_url) %>


<h2>Reviews:</h2>

<% @car.reviews.each do |review| %>
  <%= review.rating %>
  <%= review.comment %>
<% end %>

<%= simple_form_for [@car, @review] do |f| %>
  <%= f.input :comment, lable: "Add a review:" %>
  <div class="star-rating">
    <% 5.downto(1) do |i| %>
      <%= f.radio_button :rating, i, id: "star#{i}" %>
      <label for="star<%= i %>" title="<%= i %> stars">
        &#9733;
      </label>
    <% end %>
  </div>
  <%= f.submit "Submit Review" %>
<% end %>

<%= link_to "Back", root_path %>
