<div class="car-show-container">
  <div class="car-card">
    <div class="car-image-container">
      <%= image_tag @car.img_url, class: "car-image" %>
      <div class="favourite">
        <% if @car.favourites.any? %>
          <p>This car is parked in your garage!</p>
        <% else %>
          <%= simple_form_for [@car, @favourite] do |f| %>
            <%= f.input :car_id, as: :hidden, input_html: { value: @car.id } %>
            <%= f.submit "Add to your Garage!" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="car-details">
        <h1 class="garage-brand"><%= @car.brand %></h1>
        <h2 class="garage-model"><%= @car.model %></h2>

        <div class="car-specs">
          <div class="spec-item"><%= @car.fuel %></div>
          <div class="spec-item"><%= @car.year %></div>
        </div>
      </div>
      <div class="m-3">
        <%= simple_form_for [@car, @review], html: { class: "favourite-form" } do |f| %>
          <%= f.input :comment, placeholder: "Comment here...", label: false %>
          <div class="star-rating">
            <% 5.downto(1) do |i| %>
              <%= f.radio_button :rating, i, id: "star#{i}" %>
              <label for="star<%= i %>" title="<%= i %> stars">
                &#9733;
              </label>
            <% end %>
          </div>
          <%= f.submit "Send" %>
        <% end %>
      </div>
    </div>
    <div class="car-reviews">
      <% @car.reviews.each do |review| %>
        <div class="review">
          <p><%= review.comment %> -
          <% review.rating.times do %>
            <i>â­</i>
          <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
